main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

img {
    display: block;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.middle-title {
    text-align: center;
}

#specialization {
    color: #FEBC2C;
}

[id^="write"] {
    border: 1px solid #FFFFFF;
    background-color: #272B2F;
    color: #FFFFFF;
}

.project {
    background-color: #FEBC2C40;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 600px;
    height: 50px;
    background-color: #FEBC2C;
}

section.left-column {
    flex: 1;
    background-color: #272B2F;
    color: #FFFFFF;
    padding: 25px;
    box-sizing: border-box;
}

.links {
    color: #FFFFFF;
}

section.right-column {
    flex: 1;
    background-color: #FFFFFF;
    padding: 25px;
    box-sizing: border-box;
}
